<h1><%= @restaurant.name  %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<p><%= link_to 'Add a review', new_restaurant_review_path(@restaurant) %></p>
<ul>
  <% @restaurant.reviews.reverse.each do |review| %>
    <li><%= review.content %> <br>
      Rating: <%= review.rating %></li>
  <% end %>
</ul>

<p><%= link_to '< back to homepage', restaurants_path %></p>

